[project]
	description = First Github Project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/wmgenius
[access "refs/for/refs/*"]
	read = group user/wmgenius
	push = group user/wmgenius
	label-Code-Review = -2..+2 group user/wmgenius
	label-Verified = -1..+1 group user/wmgenius
	rebase = group user/wmgenius
	removeReviewer = group user/wmgenius
	submit = group user/wmgenius
[access "refs/heads/*"]
	read = group user/wmgenius
	create = group user/wmgenius
	push = +force group user/wmgenius
	pushMerge = group user/wmgenius
[access "refs/tags/*"]
	push = group user/wmgenius
	push = +force group user/wmgenius
